// Color palettes
@each $palette in map-keys($theme-palettes) {
  $palette-suffix: "#{$palette}";
  $color-primary: map-deep-get($theme-palettes, $palette, "primary");
  $color-secondary: map-deep-get($theme-palettes, $palette, "secondary");

  .palette-#{$palette-suffix} {
    a:not(.button) {
      color: $color-primary;

      &:hover {
        color: $gray-600;
      }
    }

    blockquote,
    .underline:after,
    .card.highlight {
      border-color: $color-primary;
    }

    .button {
      background: $color-primary;
      border-color: $color-primary;

      &.secondary {
        background: transparent;
        color: $color-primary;
      }
    }

    .icon-plus {
      background: $color-primary;
    }

    .review-text {
      &:before {
        color: $color-primary;
      }
    }

    .bg-accent {
      background: $color-primary;
   

      .button {
          background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(92,102,217,1) 0%, rgba(113,62,195,1) 32%, rgba(34,109,175,1) 72%, rgba(33,150,154,1) 100%);
      }
    }
  }
}
